name: Week 3 - DAST Scan

on:
  push:
    branches:
      - week-3

jobs:
  dast:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t week3-app ./week3-dast/app

      - name: Run Application Container 
        run: docker run -d -p 5000:5000 week3-app

      - name: Run OWASP ZAP Scan g
        shell: powershell
        run: |
          docker run --rm -t `
          -v "${PWD}:/zap/wrk" `
          ghcr.io/zaproxy/zaproxy:stable `
          zap-full-scan.py `
          -t http://host.docker.internal:5000 `
          -r zap-report.html
          continue-on-error: true

