name: SonarQube Scan

on:
  push:
    branches:
      - week-2

jobs:
  sonarqube:
    runs-on: self-hosted   # since you're using local runner
    steps:
      - uses: actions/checkout@v3

      - name: Run SonarScanner CLI
        shell: cmd
        run: sonar-scanner -Dsonar.projectKey=DevSecOps-Mini-Project -Dsonar.sources= week2-sast-sonarqube -Dsonar.host.url=http://localhost:9000 -Dsonar.login=${{ secrets.SONAR_TOKEN }} 