name: SonarQube Scan

on:
  push:
    branches:
      - week-2

jobs:
  sonarqube:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Run SonarScanner CLI
        run: |
         sonar-scanner `
         -Dsonar.projectKey=DevSecOps-Mini-Project `
         -Dsonar.sources=. `
         -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} `
         -Dsonar.login=${{ secrets.SONAR_TOKEN }}
