name: Week 2 - SAST Pipeline

on:
  push:
    branches:
      - week-2

jobs:
  sast:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Install Bandit
        run: python -m pip install bandit

      - name: Generate Bandit Report
        run: python -m bandit -r week2-sast-sonarqube -f json -o bandit-report.json
        continue-on-error: true

      - name: Enforce Security Gate
        run: python -m bandit -r week2-sast-sonarqube -ll 
        continue-on-error: true

      - name: Run SonarScanner CLI
        shell: cmd
        run: sonar-scanner -Dsonar.projectKey=DevSecOps-Mini-Project -Dsonar.sources=week2-sast-sonarqube -Dsonar.host.url=http://localhost:9000 -Dsonar.login=${{ secrets.SONAR_TOKEN }} -Dsonar.python.bandit.reportPaths=bandit-report.json
