name: SonarQube Scan

on:
  push:
    branches:
      - week-2w

jobs:
  sonarqube:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Run SonarScanner CLI
        run: |
          sonar-scanner ^
            -Dsonar.projectKey=DevSecOps-Python-App ^
            -Dsonar.sources=. ^
            -Dsonar.host.url=http://localhost:9000 ^
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
